.content {
  position: absolute;
    left: 300px;
    top: 0;
    right: 0px;
    bottom: 0px;
  .upper {
    height: 100px;
    padding: 20px;
    border-bottom: 1px solid #eeeeee;
    .team {
      margin-right: 40px;
      .team__name {
        font-size: 20px;
        margin-top: 35px;
      }
      .team__member{
        font-size: 12px;
        margin-top: 15px;
      }
    }
    .edit{
        border: 1px solid #00CCFF;
        color: #00CCFF;
        height: 40px;
        width: 70px;
        float: right;
        line-height: 40px;
        text-align: center;
        position: absolute;
        top: 48px;
        right: 20px;
    }
  }
  .chats {
    height: calc(100% - 100px - 90px);
    .chat {
      height: 80px;
      padding-left: 20px;
      .chat__name {
        font-size: 16px;
        padding-top: 46px;
      }
      .chat__message {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 40px;
      }
    }
  }
  .form {
    height: 90px;
    background-color: gray;
    box-sizing: border-box;
    padding: 20px 50px 20px 40px;
    .form__message{
      float: left;
      font-size: 16px;
      color: #434A54;
      height: 50px;
      width: calc(100% - 150px);
    }
    .form__mask{
      background-color: white;
      float: left;
      height: 54px;
      padding-right: 10px;
      .form__mask__image{
        font-size: 20px;
        line-height: 50px;
      }
      .hidden{
        display: none;
      }
    }
    .form__button{
      color: white;
      background-color: blue;
      height: 50px;
      float: right;
      border: none;
      padding: 0 30px;
    }
  }
}
